extends ../_common
block meta
    -
        var $meta={
        path:"../",
        dir:"./zero/",
        title:"",
        description:"",
        keyword:""
        }

block head_entry
    script.
        var require = {
            paths: {
                jquery: [
                    "https://code.jquery.com/jquery-2.2.4.min",
                    , "../../res/jquery.min"
                ]
            }
        };
    script(data-main="res/Zero.js" src='../res/require.js')

block body_entry

block body_end
