extends ./_common
block meta
    -
        var $meta={
        path:"./",
        dir:"./zero/",
        title:"",
        description:"",
        keyword:""
        }

block head_entry

block body_entry

block body_end
